{{- if .Values.controlPlane.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "tracegate.fullname" . }}-control-plane-auth
  namespace: {{ include "tracegate.namespace" . }}
  labels:
    {{- include "tracegate.labels" . | nindent 4 }}
type: Opaque
stringData:
  api-internal-token: {{ .Values.controlPlane.auth.apiInternalToken | quote }}
  agent-auth-token: {{ .Values.controlPlane.auth.agentAuthToken | quote }}
  bot-token: {{ .Values.controlPlane.auth.botToken | quote }}
{{- if .Values.controlPlane.postgres.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "tracegate.fullname" . }}-postgres
  namespace: {{ include "tracegate.namespace" . }}
  labels:
    {{- include "tracegate.labels" . | nindent 4 }}
type: Opaque
stringData:
  postgres-password: {{ .Values.controlPlane.postgres.password | quote }}
{{- end }}
{{- end }}

{{- if and .Values.gateway.enabled .Values.gateway.vpsT.enabled .Values.gateway.vpsT.agent.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "tracegate.fullname" . }}-vps-t-agent-auth
  namespace: {{ include "tracegate.namespace" . }}
  labels:
    {{- include "tracegate.labels" . | nindent 4 }}
type: Opaque
stringData:
  agent-auth-token: {{ .Values.gateway.vpsT.agent.authToken | quote }}
{{- end }}

{{- if and .Values.gateway.enabled .Values.gateway.vpsT.enabled .Values.gateway.vpsT.hysteriaTls.crt .Values.gateway.vpsT.hysteriaTls.key }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "tracegate.fullname" . }}-vps-t-hysteria-tls
  namespace: {{ include "tracegate.namespace" . }}
  labels:
    {{- include "tracegate.labels" . | nindent 4 }}
type: kubernetes.io/tls
stringData:
  tls.crt: |
{{ .Values.gateway.vpsT.hysteriaTls.crt | nindent 4 }}
  tls.key: |
{{ .Values.gateway.vpsT.hysteriaTls.key | nindent 4 }}
{{- end }}

{{- if and .Values.gateway.enabled .Values.gateway.vpsE.enabled .Values.gateway.vpsE.agent.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "tracegate.fullname" . }}-vps-e-agent-auth
  namespace: {{ include "tracegate.namespace" . }}
  labels:
    {{- include "tracegate.labels" . | nindent 4 }}
type: Opaque
stringData:
  agent-auth-token: {{ .Values.gateway.vpsE.agent.authToken | quote }}
{{- end }}
