[Unit]
Description=Tracegate Dispatcher
After=tracegate-api.service tracegate-agent.service
Requires=tracegate-api.service tracegate-agent.service

[Service]
WorkingDirectory=/opt/tracegate/current
EnvironmentFile=/etc/tracegate/tracegate.env
ExecStart=/opt/tracegate/venv/bin/tracegate-dispatcher
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
