[Unit]
Description=Tracegate Agent (Entry)
After=network-online.target tracegate-xray@entry.service tracegate-nginx@entry.service tracegate-haproxy@entry.service
Wants=network-online.target

[Service]
WorkingDirectory=/opt/tracegate/current
EnvironmentFile=/etc/tracegate/tracegate-entry.env
ExecStart=/opt/tracegate/venv/bin/tracegate-agent
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
