[Unit]
Description=Tracegate Prometheus
After=docker.service network-online.target
Wants=network-online.target
Requires=docker.service

[Service]
Restart=always
RestartSec=3
TimeoutStopSec=20
ExecStartPre=/usr/bin/docker pull prom/prometheus:latest
ExecStartPre=-/usr/bin/docker rm -f tracegate-prometheus
ExecStart=/usr/bin/docker run --rm --name tracegate-prometheus --network host --read-only --cap-drop ALL --security-opt no-new-privileges:true -v /etc/tracegate/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro -v /var/lib/tracegate/prometheus:/prometheus prom/prometheus:latest --config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/prometheus --web.listen-address=127.0.0.1:9090
ExecStop=/usr/bin/docker stop tracegate-prometheus

[Install]
WantedBy=multi-user.target
