global
  log /dev/log local0
  log /dev/log local1 notice
  daemon
  maxconn 20000

defaults
  log global
  mode tcp
  option tcplog
  timeout connect 5s
  timeout client 5m
  timeout server 5m
  timeout tunnel 1h

frontend fe_tracegate_transit_tls
  bind :443
  tcp-request inspect-delay 5s
  tcp-request content accept if { req.ssl_hello_type 1 }
  tcp-request content accept if { req.ssl_sni -m found }
  tcp-request content accept if WAIT_END
  REPLACE_MTPROTO_ACL
  acl ws_tls_sni req.ssl_sni -i REPLACE_TLS_SERVER_NAME
REPLACE_REALITY_ACLS
  REPLACE_MTPROTO_ROUTE
  use_backend be_transit_ws_tls if ws_tls_sni
REPLACE_REALITY_ROUTES
  default_backend be_transit_reality

backend be_transit_reality
  server transit_reality 127.0.0.1:2443 check

REPLACE_REALITY_BACKENDS

backend be_transit_ws_tls
  server transit_ws_tls 127.0.0.1:10443 check

REPLACE_MTPROTO_BACKEND
